<template name="icon">
  <span class="{{class}} bx-icon-{{name}}"></span>
</template>

<template name="iconArrowRight">
  <span class="{{class}} bx-icon-arrow-right"></span>
</template>

<template name="iconCheck">
  <span class="{{class}} bx-icon-check"></span>
</template>

<template name="iconDeleteCircle">
  <span class="{{class}} bx-icon-delete-circle"></span>
</template>

<template name="iconRemove">
  <span class="{{class}} bx-icon-remove"></span>
</template>

<template name="iconEdit">
  <span class="{{class}} bx-icon-edit"></span>
</template>

<template name="iconLike">
  <span class="{{class}} bx-icon-like"></span>
</template>

<template name="iconMinus">
  <span class="{{class}} bx-icon-minus"></span>
</template>

<template name="iconArrowTop">
  <span class="{{class}} bx-icon-arrow-top"></span>
</template>

<template name="iconImage">
  <span class="{{class}} bx-icon-image"></span>
</template>

<template name="iconPlus">
  <span class="{{class}} bx-icon-plus"></span>
</template>

<template name="iconProfile">
  <span class="{{class}} bx-icon-profile"></span>
</template>

<template name="iconSearch">
  <span class="{{class}} bx-icon-search"></span>
</template>

<template name="iconCheckCircle">
  <span class="{{class}} bx-icon-check-circle"></span>
</template>

<template name="iconTime">
  <span class="{{class}} bx-icon-time"></span>
</template>

<template name="iconVideo">
  <span class="{{class}} bx-icon-video"></span>
</template>

<template name="iconArrowDown">
  <span class="{{class}} bx-icon-arrow-down"></span>
</template>

<template name="iconArrowLeft">
  <span class="{{class}} bx-icon-arrow-left"></span>
</template>

<template name="iconLogoFilled">
  <span class="{{class}} bx-icon-logo-filled"></span>
</template>

<template name="iconLogoOutline">
  <span class="{{class}} bx-icon-logo-outline"></span>
</template>

<template name="iconLogoBrand">
  <span class="{{class}} bx-icon-logo-brand"></span>
</template>

<template name="iconLogoBrandOutlineTop">
  <span class="{{class}} bx-icon-logo-brand-outline-top"></span>
</template>

<template name="iconDelete">
  <span class="{{class}} bx-icon-delete"></span>
</template>

<template name="iconEllipsisHorizontal">
  <span class="{{class}} bx-icon-ellipsis-horizontal"></span>
</template>

<template name="iconEllipsisHorizontalOutline">
  <span class="{{class}} bx-icon-ellipsis-horizontal-outline"></span>
</template>

<template name="iconEllipsisVertical">
  <span class="{{class}} bx-icon-ellipsis-vertical"></span>
</template>

<template name="iconEllipsisVerticalOutline">
  <span class="{{class}} bx-icon-ellipsis-vertical-outline"></span>
</template>

<template name="iconEye">
  <span class="{{class}} bx-icon-eye"></span>
</template>
