<template name="profile">
  {{> inputText type="text" placeholder="Email" attrs=getAttrs.email class="c-login-form__input--text" value=getEmail.address }}
  {{> inputText type="text" context=(getPropContext 'firstName') methodName="setProfileProperty" placeholder="First name" attrs=inputAttrs class="c-login-form__input--text" value=getProfile.firstName }}
  {{> inputText type="text" context=(getPropContext 'lastName') methodName="setProfileProperty" placeholder="Last name" attrs=inputAttrs class="c-login-form__input--text" value=getProfile.lastName }}
  {{> inputText type="text" context=(getPropContext 'description') methodName="setProfileProperty" placeholder="Short bio" attrs=inputAttrs class="c-login-form__input--text" value=getProfile.description }}

  {{log getProfile}}

  <h3>Choose your package</h3>
  {{# grid items=(resolver.global 'Packages') }}
    {{> package context=context }}
  {{/ grid }}
</template>
