<template name="Layout__header">
  <header class="c-layout__header o-display--block">{{> header}}</header>
</template>

<template name="Layout__beforeMain">
  <section class="c-layout__before-main o-display--block">{{> yield "beforeMain"}}</section>
</template>

<template name="Layout__afterMain">
  <section class="c-layout__after-main u-layout-limit o-display--block">{{> yield "afterMain"}}</section>
</template>

<template name="Layout__footer">
  <footer class="c-layout__footer u-layout-limit o-display--block">{{> footer}}</footer>
</template>

<template name="Layout">
  <div class="c-layout o-display--block">
    {{> Layout__header}}

    <main class="c-layout__main c-layout__main--filled u-layout-limit o-display--block">{{> yield }}</main>

    {{> Layout__afterMain}}

    {{> Layout__footer}}

  </div>
</template>

<template name="Layout--filled">
  <div class="c-layout o-display--block">

    {{> Layout__header}}

    {{> Layout__beforeMain}}

    <main class="c-layout__main c-layout__main--silver c-layout__main--filled u-layout-limit o-display--block">{{> yield }}</main>

    {{> Layout__afterMain}}

    {{> Layout__footer}}

  </div>
</template>

<template name="Layout--empty">
  {{> yield }}
</template>
