.c-button{
  @extend .o-display--inline-block;
  @extend .o-text-transform--uppercase;
  // @extend .o-background-color--silver;
  @extend .o-transition-property--opacity;
  @extend .o-transition-duration--md;
  @extend .o-cursor--pointer;
  @extend .o-user-select--none;
}

.c-button[type='submit'] {
  border: none;
  outline: none;
}

.c-button--disabled{
  @extend .o-cursor--not-allowed;
  opacity: 0.5;
}

.c-button:hover{
  @extend .o-opacity--10-12;
}

.c-button .c-button__icon {
  padding-left: $padding-sm
}

.c-button--xs{
  @extend .o-padding-top--xs;
  @extend .o-padding-right--sm;
  @extend .o-padding-bottom--xs;
  @extend .o-padding-left--sm;

  @extend .o-border-width--xs;

  @extend .o-font-size--xs;
}

.c-button--sm{
  @extend .o-padding-top--sm;
  @extend .o-padding-right--md;
  @extend .o-padding-bottom--sm;
  @extend .o-padding-left--md;

  @extend .o-border-width--sm;

  @extend .o-font-size--sm;
}

.c-button--md{
  @extend .o-padding-top--md;
  @extend .o-padding-right--lg;
  @extend .o-padding-bottom--md;
  @extend .o-padding-left--lg;

  @extend .o-border-width--md;

  @extend .o-font-size--md;
}

.c-button--lg{
  @extend .o-padding-top--md;
  @extend .o-padding-right--lg;
  @extend .o-padding-bottom--md;
  @extend .o-padding-left--lg;

  @extend .o-border-width--lg;

  @extend .o-font-size--lg;
}

.c-button--fill--blue{
  @extend .o-background-color--blue;
  @extend .o-color--white;
}

.c-button--fill--blue .c-button__icon {
  color: darken($blue, 20);
}

.c-button--fill--purple{
  @extend .o-background-color--purple;
  @extend .o-color--white;
}

.c-button--fill--purple .c-button__icon {
  color: darken($purple, 20);
}

.c-button--fill--red{
  @extend .o-background-color--red;
  @extend .o-color--white;
}

.c-button--fill--yellow{
  @extend .o-background-color--yellow;
  @extend .o-color--dark;
}

.c-button--fill--yellow .c-button__icon {
  color: darken($yellow, 20);
}

.c-button--fill--light{
  @extend .o-background-color--light;
  @extend .o-color--dark;
}

.c-button--ghost{
  @extend .o-background-color--transparent;
  @extend .o-border-style--solid;
}

.c-button--stroke--blue{
  @extend .o-border-color--blue;
}

.c-button--stroke--purple{
  @extend .o-border-color--purple;
}

.c-button--stroke--red{
  @extend .o-border-color--red;
}

.c-button--stroke--white{
  @extend .o-border-color--white;
}

.c-button--stroke--yellow{
  @extend .o-border-color--yellow;
}

.c-button--stroke--silver{
  @extend .o-border-color--silver;
}
